// Node displays
.node-brand.view-mode-full {
  @include display-flex;
  @include flex-direction(row);
  background: $brand_bg;

  .group-left,
  .group-right,
  .group-middle {
    @include inline-block;
    @include flex(1 33%);
    width: 33%;
  }
  .group-left {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 2em 1em;
  }
  .group-middle {
    @extend .node-block;
    //@include flex(1 34%);
    min-height: 400px;
    width: 34%;
  }
  .group-right {
    padding: 2em 3em;
    color: #fff;
  }
  h2 {
    @extend .header-modern;
  }
  .field-type-text-long {
    a,
    a:hover,
    a:focus {
      color: #fff;
      background-color: $site_gray;
    }
  }
}

// Fields
.field-name-field-category {
  margin: 20px 0;
  text-transform: uppercase;
  a,
  a:hover,
  a:focus {
    padding: 6px;
    color: #fff;
    margin-bottom: 4px;
    background-color: #000;
    @include inline-block;
  }
}

.node-brand a {
  color: #fff;
}

// Views
.view-brands {
  .views-row {
    border-bottom: 1px solid #000;
  }
}

.views-row-even {
  .node-brand {
    background-color: $brand_bg_even;
  }
}