// Node
.node-news {
  @extend .node-brand;
}

.node-news.view-mode-teaser {
  @extend .node-brand.view-mode-full;
}

.node-news.view-mode-homepage {
  h2 {
    @extend .header-modern;
  }
  .group-right {
    padding: 0 2em;
  }
}

#block-views-related-blog-posts-block {
  > h2 {
    @extend .header-h1;
    background-color: $brand_bg;
    color: #fff;
    margin-top: 2em;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }
}

// Views
.view-news {
  .views-row {
    border-bottom: 1px solid #000;
  }
}

.views-row-even {
  .node-news {
    background: $brand_bg_even;
  }
}

// Fields
.date-month,
.date-day {
  color: $date_color;
  font-size: 4em;
  font-family: $comfortaa;
  text-align: left;
}

.date-day-number {
  font-size: 6em;
  letter-spacing: 15px;
  font-family: $comfortaa;
  font-weight: 700;
  color: $date_color;
  text-align: center;
}

.date-year {
  color: $date_color;
  font-size: 4em;
  font-family: $comfortaa;
  text-align: right;
}

.field-name-node-link a {
  @include button-style;
}

.views-row-even {
  .date-month,
  .date-day {
    text-align: right;
  }
  .date-year {
    text-align: left;
  }
}
