.node-type-product {
  overflow-x: hidden;
}

.node-product {
  position: relative;
}

// Node displays
.node-product.view-mode-full {
  background: $brand_bg;
  //@include display-flex;
  //@include flex-direction(row);
  .group-left {
    //@include inline-block;
    //@include flex(1 40%);
    padding: 2em;
    color: #fff;
    > .field {
      margin-bottom: 1em;
    }
    > .field-name-field-brand {
      position: relative;
      @include transition(opacity 1s);
      padding: 0;
      background: transparent;
      line-height: inherit;
      @include opacity(1);
      z-index: 4;
      width: auto;
      text-align: inherit;
    }
  }
  .group-right {
    //@include inline-block;
    //@include flex(1 60%);
  }
  .group-footer {
    padding: 2em;
  }
  h2 {
    @extend .header-modern;
  }
  .field-type-text-long {
    a,
    a:hover,
    a:focus {
      color: #fff;
      background-color: $site_gray;
    }
  }
}

.node-product.view-mode-teaser {
  @include item-border;
  position: relative;
  h3 {
    @extend .header-modern;
    @include absolute-title;
    margin: 0;
  }
  .field-name-field-product-images {
    z-index: 2;
    a {
      display: block;
      height: 100%;
      line-height: 0;
    }
  }
}

.node-product.view-mode-homepage {
  h3 {
    @include absolute-title;
    @extend .header-modern;
  }
}

.node-product.view-mode-list {
  position: relative;
  @include item-border;
  .group-left .field {
    margin: 0;
  }
  h3 {
    @extend .header-modern;
    @include absolute-title;
    margin: 0;
  }
  .field-name-field-product-images {
    z-index: 2;
    a {
      display: block;
      height: 100%;
      line-height: 0;
    }
    img {
      width: 100%;
    }
  }
  &:hover {
    .field-name-field-brand {
      @include opacity(0.8);
    }
  }
}

// Fields
.field-name-field-product-images a {
  display: block;
  height: 100%;
  line-height: 0;
}

.field-type-file a {
  color: #fff;
}

.field-name-field-brand {
  @include transition(opacity 1s);
  padding: 14px;
  background: black-opacity(0.8);
  position: absolute;
  bottom: 0;
  @include opacity(0);
  z-index: 4;
  width: 100%;
  text-align: center;
  img {
    width: auto;
    max-width: none;
  }
  a {
    color: #fff;
    display: block;
  }
}

.node:hover,
.node:focus {
  > .field-name-field-brand {
    @include opacity(1);
  }
}

// Views
.view-products {
  //@include flexbox-views (33.33%, '.view-content', '.views-row', '3n+1', 33.34%);
}

.view-products,
.view-related-from-brand,
.view-related-other-brand {
  @include flexbox-views (25%, '.view-content', '.views-row');
}

.view-editors-picks {
  @include flexbox-views (50%, '.view-content', '.views-row');
}

.view-best-sellers {
  @include flexbox-views (25%, '.view-content', '.views-row');
}

.view-taxonomy-term {
  @include flexbox-views (25%, '.view-content', '.views-row');
}

.view-brand-products {
  @include flexbox-views (25%, '.view-content', '.views-row');
}
